html body div[class^="highlight"] pre,
html body .rst-content tt,
html body code {
	color: #222;
	background: #eee;
	font-family: monospace;
}

html body .rst-content tt {
	padding-top: 1px;
	padding-bottom: 1px;
}

html body .rst-content li tt.literal {
	font-size: 100%;
}

html body div[class^="highlight"] pre {
	border-left: 4px solid #ccc;
}

html body .rst-content h1 tt.literal,
html body .rst-content h2 tt.literal,
html body .rst-content h3 tt.literal,
html body .rst-content h4 tt.literal {
	font-size: 100%;
}

html body div.wy-table-responsive {
	margin-bottom: 0;
}

html body div.wy-table-responsive .footnote td {
	padding-top: 1px;
	padding-bottom: 4px;
}
