
{{ r["NIST Ref #"] }} - {{ " ".join(w.capitalize() for w in r["Title"].split()) }}
================================================================================

**Responsible Role**: {{ r["SCTM"] }}

+--------------------------------+
|   Implementation Status        |
+================================+
| X | Implemented                |
+---+----------------------------+
|   | Partially implemented      |
+---+----------------------------+
|   | Planned                    |
+---+----------------------------+
|   | Alternative implementation |
+---+----------------------------+
|   | Not applicable             |
+---+----------------------------+

+--------------------------------+
|   Control Origination          |
+================================+
| X | Implemented                |
+---+----------------------------+
|   | Partially implemented      |
+---+----------------------------+
|   | Planned                    |
+---+----------------------------+
|   | Alternative implementation |
+---+----------------------------+
|   | Not applicable             |
+---+----------------------------+