.. _control:

*****************
Security Controls
*****************

Overview
========

These security controls comply with FISMA High requirements.

{% for key in sctm.keys()|sort %}
{{ sctm[key][0]['NIST Ref #'] }} - {{ sctm[key][0]['Title'] }}
================================================================================

:Requirement:
    {{ sctm[key][0]['Original Requirements'] }}


Control Summary Information
---------------------------

:Role:
    {{ sctm[key][0]['Role'] }}
{% if sctm[key][0]['Parameter'] != 'undefined' %}
:Parameter:
    {{ sctm[key][0]['Parameter'] }}
{% endif %}
:Status:
    {{ sctm[key][0]['Implementation Status'] }}
:Origin:
    {{ sctm[key][0]['Control Origin'] }}

{{ sctm[key][0]['NIST Ref #'] }} What is the solution and how is it implemented?
--------------------------------------------------------------------------------

{% if sctm[key] < 2 %}
:Role:
    {{ sctm[key][0]['Role'] }}
:Status:
    {{ sctm[key][0]['Implementation Status'] }}
:Details:
    {{ sctm[key][0]['Red Hat Response'] }}

{% if part.get('Ansible') and part['Ansible'] != 'undefined' %}

Ansible Automation
^^^^^^^^^^^^^^^^^^
.. code-block:: yaml
    {{ sctm[key][0]['Ansible'] }}

{% endif %}
{% else %}
{% for part in sctm[key] %}
Part {{ part['Part'] }}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

:Requirement:
    {{ part['Requirements'] }}
:Role:
    {{ part['Role'] }}
:Status:
    {{ part['Implementation Status'] }}
:Details:
    {{ part['Red Hat Response'] }}

{% if part.get('Ansible') and part['Ansible'] != 'undefined' %}

Ansible Automation
^^^^^^^^^^^^^^^^^^
.. code-block:: yaml
{{ part['Ansible'] }}

{% endif %}
{% endfor %}
{% endif %}


{% endfor %}